# Groq
GROQ_API_KEY=your_groq_api_key_here

# RouteStack Sandbox
ROUTESTACK_ACCOUNT_ID=your_sandbox_account_id_here
ROUTESTACK_API_KEY=your_sandbox_api_key_here
ROUTESTACK_API_SECRET=your_sandbox_api_secret_here
ROUTESTACK_ENDPOINT=https://evolvemcp.routestack.ai

#SerpAPI
SERPAPI_API_KEY=your_copied_api_key_here